<%= render 'layouts/header' %>

<div class="container border rounded rounded-sm" style="width: 35%; margin-top: 15px;">
    <div style="margin-top: 10px; margin-left: 0px; padding: 5px;">
        <h4>Add new Event</h4>
        <%= render 'form' %>
    </div>
</div>